<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Blood Bank API</title>
</head>
<body style="text-align: center;">
  <h1>Welcome to our Blood Bank API!</h1>
  <p>This API provides functionalities to enroll and search Blood Donors.</p>
  <p>For detailed API documentation, please refer to the API reference guide.</p>
</body>
</html>